$color-primary: #000000;
$color-black: rgba(17, 218, 27, 0.904);
$color-white: rgba(40, 202, 25, 0.986);
$color-dark-gray: #1f1f1f;
$color-light-gray: #000000ee;
$color-mid-gray: #d60d0d;

$font-family: "Public Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 600;

$content-width: 1200px;
$content-width-extended: 1400px;

$breakpoint-small: 600px;
$breakpoint-medium: 1000px;
